/****** Script de la commande SelectTopNRows à partir de SSMS  ******/
SELECT TOP (1000) [TRAIT_ID]
      ,[TRAIT_TYPE]
      ,[TRAIT_DESC]
      ,[TRAIT_DOMAINE_ID]
      ,[TRAIT_INDIC_BLOQ]
      ,[TRAIT_INDIC_METEO_GLOBALE]
      ,[TRAIT_INDIC_REPORTING]
      ,[TRAIT_DATE_DEB_TRAIT]
      ,[TRAIT_DATE_DEB_TRAIT_OK]
      ,[TRAIT_DATE_FIN_TRAIT]
      ,[TRAIT_DATE_FIN_TRAIT_OK]
      ,[TRAIT_FLAG_ERROR]
      ,[TRAIT_FLAG_DBERROR]
      ,[TRAIT_FLAG_ETAT_TRAIT]
      ,[TRAIT_FLAG_NB_REJET]
      ,[TECH_DATE_CREA]
      ,[TECH_DATE_MOD]
      ,[TECH_SOURCE_ID]
  FROM [SASDATA_OP].[dbo].[TECH_TRAIT] where TRAIT_ID like 'J_00_MANU_GLPI_ALL'


  UPDATE 
    [SASDATA_OP].[dbo].[TECH_TRAIT] 
	set 
	 [TRAIT_DATE_DEB_TRAIT] ='2019-01-01'
      ,[TRAIT_DATE_DEB_TRAIT_OK]='2019-01-01'
      ,[TRAIT_DATE_FIN_TRAIT]='2019-01-01'
      ,[TRAIT_DATE_FIN_TRAIT_OK]='2019-01-01'
	where TRAIT_ID like 'J_00_MANU_GLPI_ALL'